<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>图书详情</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <link rel="stylesheet" href="htdocs/css/main.css">
  <link rel="stylesheet" type="text/css" href="htdocs/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="htdocs/css/bootstrap/bootstrap-theme.min.css">
  <script type="text/javascript" src="htdocs/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="htdocs/js/jquery-1.9.1.min.js"></script>

</head>
    <body ontouchstart="">
        <div class="container">
            <div class="row">
                <div class="col-md-4 bookinfo-img">
                     <div class="img-wrap">
                         <div class="img-container">
                           <img src="$model.pic">
                         </div>
                         <div class="book-text"><nobr>$model.bookTitile</nobr></div>
                       </div>
                </div>
                <div class="col-md-8">
                    <ul>
                      <li>
                        <label>isbn</label>
                        <label>$!model.isbn</label>
                      </li>
                      <li>
                        <label>作者</label>
                        <label>$!model.author</label>
                      </li>
                      <li>
                        <label>出版社</label>
                        <label>$!model.publishers</label>
                      </li>
                      <li>
                         <label>邻书编号</label>
                        <label></label>
                      </li>
                      <li>
                         <label>持有人</label>
                        <label></label>
                      </li>
                      <li>
                         <label>借阅费</label>
                        <label></label>
                      </li>
                      <li>
                         <label>押金</label>
                        <label></label>
                      </li>
                      <li>
                         <label>可漂流</label>
                        <label>可售</label>
                      </li>
                    </ul>
                </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <ul>
                    <li>图书简介</li>
                    <li>$!model.bookComment</li>
                    <li>书评</li>
                    <li>图书简介</li>
                  </ul>
               </div>
            </div>
            <div class="row">
               <span class="input-group-btn">
                  #if(!$cartDo)
                    <button class="btn btn-default" type="button" id="borrow-book" value="$model.id"  >求借</button>
                  #else
                    <button class="btn btn-default" type="button" id="borrow-book">已在购物车中</button>
                  #end
                </span>
            </div>
        </div>
 </body>
 <script type="text/javascript">
  $(document).ready(function(){
      // 点击求借
    $("#borrow-book").click(function(data){

      if(!$(this).val()){
       location.href = "/bookCart.htm"
       retrun;
      }

      var dataV = {"bookId":$(this).val()};
        jQuery.post("/addbookCart.json",dataV,function(data,status){
          if(data.result ="S"){
              location.href = "/bookCart.htm"
          }
      });

    });

  })


 </script>
</html>