<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>图书详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="stylesheet" href="htdocs/css/main.css">
    <link rel="stylesheet" type="text/css" href="htdocs/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="htdocs/css/bootstrap/bootstrap-theme.min.css">
    <script type="text/javascript" src="htdocs/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="htdocs/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="htdocs/js/bookSearch.js"></script>
</head>
    <body ontouchstart="">
        <div class="container">
            <div class="row">
                 <div class="input-group book-search">
                  <input type="text" class="form-control" id="search-key" placeholder="输入书名、作者、类别" value="$!key" >
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="search-book">搜索</button>
                  </span>
                </div>
            </div>

            <div class="row">
                  <div class="col-md-6 search-tab select-tab" id="new-books">新书</div>
                  <div class="col-md-6 search-tab search-tab-left" id="type-books">分类</div>
            </div>

            <div class="row books-list">
                <ul class="books-ul" id="books-ul">

                  </ul>
            </div>
        </div>
 </body>

</html>
