<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>我的借书</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <link rel="stylesheet" href="htdocs/css/main.css">
  <link rel="stylesheet" type="text/css" href="htdocs/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="htdocs/css/bootstrap/bootstrap-theme.min.css">
  <script type="text/javascript" src="htdocs/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="htdocs/js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="htdocs/js/bookSearch.js"></script>
</head>
    <body ontouchstart="">
        <div class="container">
            <div class="row books-list">
               <ul class="books-ul">
                #foreach($book in $booklist)
                    <li class="J-books-li books-li" data-value="$book.id">
                      <div class="img-wrap">
                        <div class="img-container">
                          <img src="$book.pic">
                        </div>
                        <div class="book-text"><nobr>$book.bookTitile</nobr></div>
                      </div>
                    </li>
                 #end
                 </ul>
           </div>
        </div>
 </body>
</html>
