html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-user-select: none;
  user-select: none;
}
body {
  line-height: 1.6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f1f0f6;
}
* {
  margin: 0;
  padding: 0;
}
button {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  *font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container{
	min-width: 300px;
    max-width: 800px;
}

.book-search{
	width: 95%;
    text-align: center;
    margin: 2%;
    padding: 2% 0% 0% 0%;
}



.books-ul{
    list-style-type: none;
    width: 100%;
    /* float: left; */
    overflow: hidden;
}

.books-li{
    border: solid 1px #efefef;
    margin: 2% 2%;
    padding: 1% 2%;
    width: 45%;
    float: left;
}

/* 创建一个正方形容器 */
.books-li .img-container{
   width: 100%;
   height: 0px;
   padding-bottom: 100%;
   overflow: hidden;
   margin: 0;
   position: relative;
}

/* 采用绝对定位 */
.books-li .img-wrap img,.bookinfo-img .img-wrap img{
    position:absolute;
    width: 100%;
    height: 100%;
}

.books-li .book-text,.bookinfo-img .book-text{
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
 }

 .search-tab{
    border: solid 1px #efefef;
    border-left: 0px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    width: 50%;
    padding: 1%;
    margin: 0px;
    float: left;
 }
 .search-tab-left{
     border-left: 0px;
 }

 .books-list{
 	border: solid 1px #efefef;
    border-top: 0px;
 }
 .select-tab{
 	background-color: rgb(248, 248, 248);
 }

 .book-type-li{
 	width: 100%;
    margin: 0px 0px;
    padding: 3% 0%;
    text-align: left;
 }
 .type-li{
 	text-align: left;
 }

 .book-info-ul{
    list-style-type: none;
    width: 100%;
    /* float: left; */
    overflow: hidden;
    border: solid 1px #efefef;
}

 .book-info-ul li{
    border-bottom: solid 1px #efefef;
}

.book-info-ul li label{
	width: 49%;
    margin: 0px;
    padding: 1.5% 0px;
    text-align: center;

}
.book-info-ul li label:first-child{
    border-right: solid 1px #efefef;
}
.bookinfo-img .img-container {
    width: 50%;
    height: 0px;
    padding-bottom: 50%;
    overflow: hidden;
    margin: 0;
    position: relative;
    left: 25%;
}
