html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-user-select: none;
  user-select: none;
}
body {
  line-height: 1.6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f1f0f6;
}
* {
  margin: 0;
  padding: 0;
}
button {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  *font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container{
	min-width: 400px;
    max-width: 800px;
}

.book-search{
	width: 95%;
    text-align: center;
    margin: 10px;
    padding: 10px 10px 0px 10px;
}



.books-ul{
    list-style-type: none;
    width: 100%;
    /* float: left; */
    overflow: hidden;
}

.books-li{
    border: solid 1px #efefef;
    margin: 10px 10px;
    padding: 5px 10px;
    width: 45%;
    float: left;
}

/* 创建一个正方形容器 */
.books-li .img-container,.bookinfo-img .img-container{
   width: 100%;
   height: 0px;
   padding-bottom: 123%;
   overflow: hidden;
   margin: 0;
   position: relative;
}

/* 采用绝对定位 */
.books-li .img-wrap img,.bookinfo-img .img-wrap img{
    position:absolute;
    width: 100%;
    height: 100%;
}

.books-li .book-text,.bookinfo-img .book-text{
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
 }

 .search-tab{
    border: solid 1px #efefef;
    border-left: 0px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    width: 50%;
    padding: 5px;
    margin: 0px;
    float: left;
 }
 .search-tab-left{
     border-left: 0px;
 }

 .books-list{
 	    border: solid 1px #efefef;
    border-top: 0px;
 }
 .select-tab{
 	background-color: rgb(248, 248, 248);
 }